### Regression model on housing price dataset

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df1 = pd.read_csv("https://raw.githubusercontent.com/Shreyas3108/house-price-prediction/master/kc_house_data.csv")

In [16]:
df1.head(10)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503
5,7237550310,20140512T000000,1225000.0,4,4.50,5420,101930,1.0,0,0,...,11,3890,1530,2001,0,98053,47.6561,-122.005,4760,101930
6,1321400060,20140627T000000,257500.0,3,2.25,1715,6819,2.0,0,0,...,7,1715,0,1995,0,98003,47.3097,-122.327,2238,6819
7,2008000270,20150115T000000,291850.0,3,1.50,1060,9711,1.0,0,0,...,7,1060,0,1963,0,98198,47.4095,-122.315,1650,9711
8,2414600126,20150415T000000,229500.0,3,1.00,1780,7470,1.0,0,0,...,7,1050,730,1960,0,98146,47.5123,-122.337,1780,8113
9,3793500160,20150312T000000,323000.0,3,2.50,1890,6560,2.0,0,0,...,7,1890,0,2003,0,98038,47.3684,-122.031,2390,7570

In [48]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn import ensemble

In [6]:
reg = LinearRegression()

In [36]:
labels = df1['price']
train1 = df1.drop(['id', 'price','date'],axis=1)

In [39]:
x_train , x_test , y_train , y_test = train_test_split(train1 , labels , test_size = 0.10,random_state =2)

In [40]:
reg.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [41]:
reg.score(x_test,y_test)

0.732034276035761

### Gradient Boosting Regression

In [55]:
clf = ensemble.GradientBoostingRegressor(n_estimators = 400, max_depth = 5, min_samples_split = 2,learning_rate = 0.1,
                                         loss = 'ls')
clf.fit(x_train, y_train)
clf.score(x_test,y_test)

0.9188741960493927

### trying different loss functions

In [56]:
clf = ensemble.GradientBoostingRegressor(n_estimators = 400, max_depth = 5, min_samples_split = 2,learning_rate = 0.1,
                                         loss = 'huber')
clf.fit(x_train, y_train)
clf.score(x_test,y_test)

0.9048555668339338

In [53]:
clf = ensemble.GradientBoostingRegressor(n_estimators = 400, max_depth = 5, min_samples_split = 2,learning_rate = 0.1,
                                         loss = 'lad')
clf.fit(x_train, y_train)
clf.score(x_test,y_test)

0.9102826394694443

In [54]:

clf = ensemble.GradientBoostingRegressor(n_estimators = 400, max_depth = 5, min_samples_split = 2,learning_rate = 0.1,
                                         loss = 'quantile')
clf.fit(x_train, y_train)
clf.score(x_test,y_test)

0.7848350222595528

### training on fewer parameters to see affect on accuracy on the basis of correlation plot drawn during eda

### removing sqft_lot from training data due to low correlation

In [68]:
labels = df1['price']
train2 = df1.drop(['id', 'price','date','sqft_lot'],axis=1)

In [69]:
x_train , x_test , y_train , y_test = train_test_split(train2 , labels , test_size = 0.10,random_state =2)

In [70]:
clf = ensemble.GradientBoostingRegressor(n_estimators = 400, max_depth = 5, min_samples_split = 2,learning_rate = 0.1,
                                         loss = 'ls')
clf.fit(x_train, y_train)
clf.score(x_test,y_test)

0.9172639771331077

### checking the effect of zipcode

In [71]:
train3 = df1.drop(['id', 'price','date','zipcode'],axis=1)
x_train , x_test , y_train , y_test = train_test_split(train3 , labels , test_size = 0.10,random_state =2)

In [72]:
clf = ensemble.GradientBoostingRegressor(n_estimators = 400, max_depth = 5, min_samples_split = 2,learning_rate = 0.1,
                                         loss = 'ls')
clf.fit(x_train, y_train)
clf.score(x_test,y_test)

0.9211645084181129

#### maximum accuracy achieved; thus it is important in multivariate analysis to identify features which does not have significant relation with the accuracy

### now removing both zip code and sqft_lot

In [75]:
train4 = df1.drop(['id', 'price','date','sqft_lot','zipcode'],axis=1)
x_train , x_test , y_train , y_test = train_test_split(train4 , labels , test_size = 0.10,random_state =2)

In [76]:
clf = ensemble.GradientBoostingRegressor(n_estimators = 400, max_depth = 5, min_samples_split = 2,learning_rate = 0.1,
                                         loss = 'ls')
clf.fit(x_train, y_train)
clf.score(x_test,y_test)

0.9133879746854596

#### Maximum accuracy achieved with gradient boosting with zip code removed as feature